<div class="flexway container">
  
    <!-- DIV FORM -->
     <div class="flexway div-form">
       <div class="flexway background-form">
         <span class="add-range-text">Ingresar rango</span>
         <p class="add-range-text">de temperatura</p>
         <p class="celsius-degrees">(En grados celcius)</p>
       
        <form (ngSubmit)="saveRange()" [formGroup]="formTemp" class="form-temp">
          <div>
            <span>MIN</span><input formControlName="minTemp" class="input-temp" type="number" /><span>°C</span>
          </div>
            <div>
              <span>MAX</span><input formControlName="maxTemp" class="input-temp" type="number" /><span>°C</span>
            </div>

            <div class="text-message" *ngIf="(formTemp.get('minTemp')?.invalid || formTemp.get('maxTemp')?.invalid) && (formTemp.touched || formTemp.dirty)">
              Error de rango, valores aceptados desde 15 grados hasta 30.
            </div>

            <div class="text-message" *ngIf="formTemp.hasError('maxHigherMinMatch') && (formTemp.touched || formTemp.dirty) && !((formTemp.get('minTemp')?.invalid) || (formTemp.get('maxTemp')?.invalid))">
              Maximo no puede ser menor a minimo ni igual.
            </div>

            <button [disabled]="formTemp.invalid" type="submit" class="button-save-temp">GUARDAR</button>
         </form>
  
        </div>
  
    </div>
  
    <!-- DIV RANGO -->
   <div class="flexway rango">
     <div class="container-rango" >
      <p>Rango actual de temperatura</p>   
         <p class="temp-min-max">Min: <span>{{ rangeTemperature.minTemperature }}°C</span></p>
         <span class="temp-min-max">Max: <span>{{ rangeTemperature.maxTemperature }}°C</span></span>
     </div>
     
     </div>
  
  </div>
  
  