<div class="flexway container">
  
    <!-- DIV FORM -->
     <div class="flexway wh100">
       <div class="flexway background-form">
         <span class="add-range-text">Ingresar rango</span>
         <p class="add-range-text">de temperatura</p>
         <p class="celsius-degrees">(En grados celcius)</p>
       
        <!--<form (ngSubmit)="guardarRango()" class="form-temp">-->
        <form class="form-temp">
          <div>
            <span>MIN</span><input class="input-temp" type="number" /><span>°C</span>
          </div>
            <div>
              <span>MAX</span><input class="input-temp" type="number" /><span>°C</span>
            </div>
            
            <button type="submit" class="button-save-temp">GUARDAR</button>
         </form>
  
        </div>
  
    </div>
  
    <!-- DIV RANGO -->
   <div class="flexway rango">
     <div class="container-rango" >
      <p>Rango actual de temperatura</p>   
         <p class="temp-min-max">Min: <span> 18°C</span></p>
         <p class="temp-min-max">Max: <span> 20°C</span></p>
     </div>
     
     </div>
  
  </div>
  
  