<div class="container flexway"> 

   <!-- DIV TEMP -->
    <div class="flexway wh100" >
        <div class="container-button" >
            <button class="add-temp-button">+ Agregar temperatura optima</button>
        </div>
        <div class="temp-container" >
            <p class="title-temp">Temperatura actual</p>
            <p class="current-temp"><span>{{ currentTemperature }}</span>°C</p>
        </div>
   </div>

   <!-- DIV RANGO -->
  <div class="flexway wh100">
    <div class="oscilacion">
            <p>Rango de oscilacion</p>   
        <p>Min: <span> 18°C</span></p>
        <p>Max: <span> 20°C</span></p>
    </div>
    
    </div>

</div>

