<div>
    <table class="table table-borderless">
        <div class="textTemperature">
            <thead>
                <tr><th scope="col">Temperatura actual</th></tr>
             </thead>
        </div>
        <div class="currentTemperature">
             <tbody>
                <tr><th scope="row">{{currentTemperature}}</th></tr>
            </tbody>
        </div>
       
    </table>
</div>
<div class="oscilacion">
        <table class="table table-borderless" >
            <div class="textOscilacion">
                <thead>
                    <tr><th scope="col">Rango de oscilacion</th></tr>
                </thead>
            </div> 
            <div class="rango">
                <tbody>
                    <tr><th scope="row">Min: 18°C</th></tr>
                    <tr><th scope="row"> Max: 20°C</th></tr>
                </tbody>
            </div>
        </table>
</div>
